<mat-toolbar color="primary">
  <button mat-raised-button color="primary" routerLink="/" queryParamsHandling="merge">ExecutionsViewer</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/main-features" queryParamsHandling="merge" routerLinkActive="mat-raised-button">Main Features</button>
  <button mat-button routerLink="/features" queryParamsHandling="merge" routerLinkActive="mat-raised-button">Features</button>
  <button mat-button routerLink="/tests" queryParamsHandling="merge" routerLinkActive="mat-raised-button">Tests Classes</button>
  <button mat-button  routerLink="/executions" queryParamsHandling="merge" routerLinkActive="mat-raised-button">Executions</button>

</mat-toolbar>
