/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


/* width */
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/*Table*/

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #e0f2ff;
}


/*Mat Cards*/

.mat-card-title {
  color: #1462ad;
}



/*Mat Option*/

.mat-select {
  font-size: 16px !important;
}


.filter-container .mat-form-field-underline {
  display: none !important;
}

.mat-select-panel {
  transform: translate(12px, 20px) !important;
  font-family: Lato,sans-serif;
}

.mat-option {
  padding-left: 10px !important;
  font-size: 14px !important;
}


/* Custom Table */

.column-item {
  text-align: center !important;
}

.column-item-main {
  /*font-weight: bold;*/
  font-size: 18px;
}

.column-item-header {
  line-height: 80px;
}

.column-item-first-col-header {
  padding: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: rgba(0,0,0,.12);
}

.column-item-other-col-header {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(0,0,0,.12);
}

.column-item-first-col {
  padding: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 0 !important;
  border-bottom-color: transparent !important;
  border-right-color: rgba(0,0,0,.12);
}


/*Page Message*/
.page-message-container-size {
  min-height: 70vh;
}
